
/* Slideshow container */
.slideshow-container {
  max-width: 500px;
  margin: auto;
}

/* Make the images invisible by default */
.Containers {
    height: 50%;
    width: 100%;
}

.slideshow-container img {
  display: block;
  margin: auto;
  height: 400px; /* adjust as needed */
  width: 600px; /* adjust as needed */
}

@media screen and (max-width: 768px) {
  body {
    background-image: none;
    background-color: #fff; /* set a white background color instead */
  }
  .container-bdy {
    height: auto; /* adjust the height as needed */
  }
  h1 {
    font-size: 2rem; /* decrease the font size */
  }
  p {
    font-size: 1.5rem; /* decrease the font size */
  }
  .slideshow-container img {
    height: 300px; /* adjust the height as needed */
    width: 100%; /* set the width to 100% */
  }
  .slideshow-container {
    max-width: 100%; /* set the max-width to 100% */
  }
}


